body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  text-align: center;
}

.app {
  padding: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}

.menu button {
  width: 30%;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

.modal-card {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  margin: 100px auto;
  width: 80%;
}

input {
  padding: 8px;
  width: 80%;
  margin-bottom: 10px;
}
